<%include header.ejs%>


<!-- BEGIN CONTAINER -->
<div class="page-container">
    <%include menu.ejs%>
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div id="portlet-config" class="modal hide">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"></button>
                <h3>Widget Settings</h3>
            </div>
            <div class="modal-body">
                Widget settings form goes here
            </div>
        </div>
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                       图片管理 <small>statistics and more</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home"></i>
                            <a href="index.ejs">图片列表</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="#">image_list</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <div id="dashboard">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>图片</th>
                        <th>图片名</th>
                        <th>类型</th>
                        <th>大小</th>
                        <th>上传时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <%for(var i=0; i< Images.length; i++){ %>
                    <tr>
                        <td><%= i%></td>
                        <td><img src="http://localhost:3000/api/images?path=<%=Images[i].url%>" alt="photo" style="width: 60px;height: 40px;"></td>
                        <td><%=Images[i].name%></td>
                        <td><%=Images[i].type%></td>
                        <td><%=Images[i].size%></td>
                        <td><%=Images[i].upload_time%></td>
                        <td>
                            <a type="button" class="btn red" onclick="deleteImage('<%=Images[i].id%>')">删除</a>
                            <button type="button" class="btn blue" data-toggle="modal" data-target="#myModal" onclick="updateImage('<%=JSON.stringify(Images[i])%>')">更新</button>
                        </td>
                    </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>

<%include footer.ejs%>