<%include header.ejs%>


<!-- BEGIN CONTAINER -->
<div class="page-container">
    <%include menu.ejs%>
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div id="portlet-config" class="modal hide">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"></button>
                <h3>Widget Settings</h3>
            </div>
            <div class="modal-body">
                Widget settings form goes here
            </div>
        </div>
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        用户中心 <small>user center</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home"></i>
                            <a href="index.ejs">个人中心</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="#">User</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <div class="row-fluid">
                <!-- BEGIN DASHBOARD STATS -->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>用户名</th>
                        <th>密码</th>
                        <th class="hidden-480">创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <%for(var i=0; i< Users.length; i++){ %>
                        <tr>
                            <td><%= i%></td>
                            <td><%=Users[i].username%></td>
                            <td><%=Users[i].password%></td>
                            <td class="hidden-480"><%=Users[i].create_time%></td>
                            <td>
                                <a type="button" class="btn red" onclick="deleteUser('<%=Users[i].id%>')">删除</a>
                                <button type="button" class="btn blue" data-toggle="modal" data-target="#myModal" onclick="updateUser('<%=JSON.stringify(Users[i])%>')">更新</button>
                            </td>
                        </tr>
                    <%}%>
                    </tbody>
                </table>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">更新用户信息</h4>
                            </div>
                            <form action="/api/users/update" method="post" class="form-horizontal">
                                <div class="modal-body">
                                    <div class="control-group" hidden>
                                        <label class="control-label" style="margin-right: 10px;">用户名</label>
                                        <input type="text" name="id" id="userid" class="m-wrap medium" >
                                        <span class="help-inline"></span>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" style="margin-right: 10px;">用户名</label>
                                        <input type="text" id="username" name="username" placeholder="请输入用户名" class="m-wrap medium" >
                                        <span class="help-inline"></span>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" style="margin-right: 10px;">密码</label>
                                        <input type="text" id="password" name="password" placeholder="请输入密码" class="m-wrap medium">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="submit" class="btn blue">更新</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
    <script>
        function deleteUser(id){
            $.post('http://localhost:3000/api/users/delete/'+id).success(function(data){
                layer.msg('删除成功');
                window.location.reload();
            }).error(function(err){
                layer.msg('删除失败');
            })
        }
        function updateUser(obj){
            var user = JSON.parse(obj);
            $('#userid').val(user.id);
            $('#username').val(user.username);
            $('#password').val(user.password);

        }
    </script>
<%include footer.ejs%>
